.search_card {
    /* Existing styles */
    background-color: white; /* or whatever your default color is */
    /* other styles... */
  }
  
  @media (max-width: 1080px) {
    .search_card {
        width: 800px !important;
        height: fit-content !important;
    }

    .search_card h1{
        font-size: 60px;
    }

    .search_card input{
        width: 80%;
        height: 55px;
        font-size: 40px;
    }

    .img_container{
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important ;
    }
  }